# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - no-limits

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: npm install and build
        env:
          NEXT_PUBLIC_API_URL: https://no-limits-backend-bub7gvhbbshufug0.germanywestcentral-01.azurewebsites.net/api
          NEXT_PUBLIC_SUPABASE_URL: ${{ secrets.NEXT_PUBLIC_SUPABASE_URL }}
          NEXT_PUBLIC_SUPABASE_ANON_KEY: ${{ secrets.NEXT_PUBLIC_SUPABASE_ANON_KEY }}
        run: |
          npm install
          npm run build

      - name: Prepare standalone deployment
        run: |
          cp -r .next/static .next/standalone/.next/
          cp -r public .next/standalone/
          echo "Contents of .next/standalone:"
          ls -la .next/standalone/
          echo "Contents of .next/standalone/.next:"
          ls -la .next/standalone/.next/

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: .next/standalone
          include-hidden-files: true

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_D7B91CA328484D3C8241BA8D44FFDA12 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_5736C009594341B3B4B398FC390AAAD5 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_80066BFB64174FFF961587A3466D4603 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'no-limits'
          slot-name: 'Production'
          package: .
          